:root {
  --color-backGround: #fff;
  --color-Secondary: #403f4c;
  --color-brand: #8884ff;
  --color-txtSecondary: #444;
  --color-txtPrimary: #000;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: var(--color-Secondary);
}
